/***
TABLE OF CONTENTS

* Mixin *

* Navbar *
Navbar default
Navbar nav
Navbar toggle

* MediaQueries *


***/
/*** MIXIN
   ====================================================================== */
/* OFFSETED-LINK */
/**
*
* offset link when it's needed
*
*/

.offseted-link {
  margin-top: -4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
/*** NAVBAR
   ====================================================================== */

.navbar {
  border-radius: 0;
}
/* NAVBAR DEFAULT */

.navbar-default {
  font-family: $font-family-brand;
  /* NAVBAR NAV */

  .navbar-nav {
    > li {
      &:hover {
        @extend .offseted-link;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > li.inverse {
      &:hover {
        background-color: $brand-primary;
      }
      > a {
        &:hover {
          background-color: $brand-primary;
        }
      }
    }
    > .active {
      @extend .offseted-link;
    }
    > .dropdown.open {
      @extend .offseted-link;
    }
    > li > a {
      color: $navbar-default-link-color;
      &:hover {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
      &:focus {
        background-color: transparent;
      }
    }
    > .active > a {
      &, &:hover, &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &, &:hover, &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
    /* navbar toggle in navbar-nav */

    .navbar-toggle {
      border-color: $navbar-default-toggle-border-color;
      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }
}
/*** MEDIA QUERIES
   ====================================================================== */

@media (min-width: $screen-md-min) {
  .navbar.fixed-height {
    height: $navbar-height;
  }
}
